<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <typeAliases>
        <!-- member -->
        <typeAlias type="com.app.bluecotton.domain.vo.member.MemberVO" alias="MemberVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.member.MemberProfileVO" alias="MemberProfileVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.member.MemberSocialVO" alias="MemberSocialVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.member.MemberInsertSocialVO" alias="MemberInsertSocialVO" />


        <!-- post -->
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostVO" alias="PostVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostImageVO" alias="PostImageVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostReportVO" alias="PostReportVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostCommentVO" alias="PostCommentVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostCommentReportVO" alias="PostCommentReportVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostReplyVO" alias="PostReplyVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostReplyReportVO" alias="PostReplyReportVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostRecentVO" alias="PostRecentVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.post.PostDraftVO" alias="PostDraftVO" />

        <!-- shop -->
        <typeAlias type="com.app.bluecotton.domain.vo.shop.ProductVO" alias="ProductVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.ProductLikeVO" alias="ProductLikeVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.ProductImageVO" alias="ProductImageVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.ProductReviewVO" alias="ProductReviewVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.ProductReviewImageVO" alias="ProductReviewImageVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.ProductReviewReportVO" alias="ProductReviewReportVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.PaymentVO" alias="PaymentVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.PaymentSocialVO" alias="PaymentSocialVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.OrderVO" alias="OrderVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.DeliveryVO" alias="DeliveryVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.CartVO" alias="CartVO" />

        <!-- som -->
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomVO" alias="SomVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomLikeVO" alias="SomLikeVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomImageVO" alias="SomImageVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomReviewVO" alias="SomReviewVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomReviewImageVO" alias="SomReviewImageVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomJoinVO" alias="SomJoinVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomCheckVO" alias="SomCheckVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.som.SomCheckImageVO" alias="SomCheckImageVO" />

        <!-- som response DTO -->
        <typeAlias type="com.app.bluecotton.domain.dto.SomCheckResponseDTO" alias="SomCheckResponseDTO" />
        <typeAlias type="com.app.bluecotton.domain.dto.SomJoinResponseDTO" alias="SomJoinResponseDTO" />

        <!-- som update DTO -->
        <typeAlias type="com.app.bluecotton.domain.dto.SomCheckResponseDTO" alias="SomImageUpdateDTO" />

        <!-- chat -->
        <typeAlias type="com.app.bluecotton.domain.vo.chat.ChatVO" alias="ChatVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.chat.ChatMemberVO" alias="ChatMemberVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.chat.ChatMessageVO" alias="ChatMessageVO" />

        <!-- cart -->
        <typeAlias type="com.app.bluecotton.domain.vo.shop.CartVO" alias="CartVO" />


        <!-- order -->
        <typeAlias type="com.app.bluecotton.domain.vo.shop.OrderVO" alias="OrderVO" />

        <!-- Payment -->
        <typeAlias type="com.app.bluecotton.domain.vo.shop.PaymentVO" alias="PaymentVO" />
        <typeAlias type="com.app.bluecotton.domain.vo.shop.PaymentSocialVO" alias="PaymentSocialVO" />
    </typeAliases>
</configuration>