<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.CartMapper">

    <insert id="insert" parameterType="CartVO">
        INSERT INTO TBL_CART(ID, CART_QUANTITY, MEMBER_ID, PRODUCT_ID)
        VALUES(SEQ_CART.NEXTVAL, #{cartQuantity}, #{memberId}, #{productId})
    </insert>



    <select id="selectByMemberId" parameterType="Long"
            resultType="com.app.bluecotton.domain.dto.CartResponseDTO">
        SELECT
        TBC.ID               AS id,
        TBC.MEMBER_ID        AS memberId,
        TBC.CART_QUANTITY    AS quantity,
        TBP.PRODUCT_STOCK    AS productStock,
        TBC.PRODUCT_ID       AS productId,
        TBP.PRODUCT_NAME     AS productName,
        TBP.PRODUCT_PRICE    AS productPrice,
        TBP.PRODUCT_PURCHASE_TYPE AS productPurchaseType
        FROM TBL_CART TBC
        JOIN TBL_PRODUCT TBP ON TBP.ID = TBC.PRODUCT_ID
        JOIN TBL_MEMBER  TBM ON TBM.ID = TBC.MEMBER_ID
        WHERE TBM.ID = #{memberId}
        ORDER BY TBC.ID DESC
    </select>

    <select id="selectQuantity" parameterType="Long" resultType="java.lang.Integer">
        SELECT CART_QUANTITY
        FROM TBL_CART
        WHERE MEMBER_ID = #{memberId}
        AND PRODUCT_ID = #{productId}
    </select>

    <update id="updatePlus" parameterType="CartVO">
        UPDATE TBL_CART
        SET CART_QUANTITY = CART_QUANTITY + #{cartQuantity}
        WHERE PRODUCT_ID = #{productId} AND MEMBER_ID = #{memberId}
    </update>

    <update id="updateMinus" parameterType="CartVO">
        UPDATE TBL_CART
        SET CART_QUANTITY = CART_QUANTITY - #{cartQuantity}
        WHERE PRODUCT_ID = #{productId}
        AND CART_QUANTITY >= #{quantity}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_CART
        WHERE MEMBER_ID = #{memberId}
        AND PRODUCT_ID = #{productId}
    </delete>

    <delete id="deleteCartByMember" parameterType="long">
        DELETE FROM TBL_CART
        WHERE MEMBER_ID = #{memberId}
    </delete>

</mapper>