<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.ChatMemberMapper">
    <insert id="insertChatMember" parameterType="ChatMemberVO">
        INSERT INTO
        TBL_CHAT_MEMBER(ID, CHAT_ID, MEMBER_ID, CHAT_MEMBER_ROLE, CHAT_MEMBER_STATUS)
        VALUES (SEQ_CHAT_MEMBER.NEXTVAL, #{chatId}, #{memberId}, #{chatMemberRole}, #{chatMemberStatus})
    </insert>

    <select id="exists" parameterType="ChatMemberVO" resultType="Integer">
        SELECT COUNT(*)
        FROM TBL_CHAT_MEMBER
        WHERE CHAT_ID = #{chatId}
        AND MEMBER_ID = #{memberId}
        AND CHAT_MEMBER_STATUS = 'ACTIVE'
    </select>



    <delete id="delete" parameterType="ChatMemberVO">
        DELETE FROM TBL_CHAT_MEMBER
        WHERE MEMBER_ID = #{memberId} AND CHAT_ID = #{chatId}
    </delete>

    <select id="selectMemberListByChatId" parameterType="Long" resultType="ChatMemberResponseDTO">
        SELECT TBCM.ID, TBCM.CHAT_ID, TBCM.MEMBER_ID, TBM.MEMBER_NAME
        FROM TBL_CHAT_MEMBER TBCM
        JOIN TBL_MEMBER TBM
        ON TBCM.MEMBER_ID = TBM.ID
        WHERE TBCM.CHAT_ID = #{chatId}
    </select>


</mapper>