<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.MemberSocialMapper">

    <insert id="insert" parameterType="MemberSocialVO">
        INSERT INTO TBL_MEMBER_SOCIAL(
        ID, MEMBER_SOCIAL_PROVIDER, MEMBER_SOCIAL_PROVIDER_ID, MEMBER_ID
        ) VALUES (
        SEQ_MEMBER_SOCIAL.NEXTVAL, #{memberSocialProvider}, #{memberSocialProviderId}, #{memberId}
        )
    </insert>

    <select id="selectAll" parameterType="Long" resultType="String">
        SELECT MEMBER_SOCIAL_PROVIDER
        FROM TBL_MEMBER_SOCIAL
        WHERE MEMBER_ID = #{memberId}
    </select>

</mapper>
