<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.MyPageSomMapper">

    <!--  멤버가 참가하는 솜 상세 조회  -->
    <select id="selectById" parameterType="Long" resultType="SomVO">
        SELECT ID, SOM_TITLE, SOM_CATEGORY, SOM_ADDRESS, SOM_TYPE, SOM_START_DATE, SOM_END_DATE, SOM_LIKE, SOM_CONTENT, MEMBER_ID
        FROM TBL_SOM
        WHERE MEMBER_ID = #{memberId}
        ORDER BY ID DESC
    </select>

    <!-- 마이페이지 솜 인증 조회 -->
    <select id="readSomCheck"
            parameterType="long"
            resultType="com.app.bluecotton.domain.dto.MyPageSomCheckDTO">
        SELECT
        TBM.ID                    AS memberId,
        TBSC.ID                   AS somCheckId,
        TBSC.SOM_CHECK_IS_CHECKED AS somCheckIsChecked,
        TBSC.SOM_CHECK_CONTENT    AS somCheckContent,
        TBS.SOM_CATEGORY          AS somCategory,
        TBS.SOM_START_DATE        AS somStartDate,
        TBS.SOM_END_DATE          AS somEndDate
        FROM TBL_SOM_CHECK TBSC
        JOIN TBL_SOM TBS
        ON TBSC.SOM_ID = TBS.ID
        JOIN TBL_MEMBER TBM
        ON TBSC.MEMBER_ID = TBM.ID
        WHERE TBM.ID = #{id}
    </select>

    <!-- 마이페이지 솜 인증 추가 -->
    <insert id="insertSomCheck"
            parameterType="com.app.bluecotton.domain.dto.MyPageSomCheckDTO">

        <selectKey keyProperty="somCheckId"
                   resultType="long"
                   order="BEFORE">
            SELECT SEQ_SOM_CHECK.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TBL_SOM_CHECK (
        ID,
        SOM_CHECK_IS_CHECKED,
        SOM_CHECK_CONTENT,
        MEMBER_ID,
        SOM_ID
        )
        VALUES (
        #{somCheckId},
        #{somCheckIsCheckedYn},
        #{somCheckContent},
        #{memberId},
        #{somId}
        )
    </insert>

    <!-- 마이페이지 솜 인증 이미지 추가 -->
    <insert id="insertSomCheckImage"
            parameterType="com.app.bluecotton.domain.dto.MyPageSomCheckImageDTO">

        <selectKey keyProperty="id"
                   resultType="long"
                   order="BEFORE">
            SELECT SEQ_SOM_CHECK_IMAGE.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TBL_SOM_CHECK_IMAGE (
        ID,
        SOM_CHECK_IMAGE_PATH,
        SOM_CHECK_IMAGE_NAME,
        SOM_CHECK_ID
        )
        VALUES (
        #{id},
        #{somCheckImagePath},
        #{somCheckImageName},
        #{somCheckId}
        )
    </insert>




    <!--마이페이지 솜 리뷰 추가-->
    <insert id="insertSomReview" parameterType="com.app.bluecotton.domain.vo.som.SomReviewVO">
        INSERT INTO TBL_SOM_REVIEW (
        ID, SOM_REVIEW_IS_CHECKED, SOM_REVIEW_CONTENT, MEMBER_ID, SOM_ID
        ) VALUES (
        SEQ_SOM_REVIEW.NEXTVAL,
        #{somReviewIsCheckedYn},
        #{somReviewContent},
        #{memberId},
        #{somId}
        )
    </insert>


    <!--마이페이지 솜 리뷰 호출-->
    <select id="readSomReview" parameterType="Long" resultType="com.app.bluecotton.domain.dto.MyPageSomReviewDTO">
        SELECT TBSR.MEMBER_ID, TBSR.SOM_ID, TBSR.ID, TBSR.SOM_REVIEW_IS_CHECKED, TBSR.SOM_REVIEW_CONTENT, TBS.SOM_CATEGORY
        FROM TBL_SOM_REVIEW TBSR
        JOIN TBL_SOM TBS
        ON TBSR.SOM_ID = TBS.ID
        JOIN TBL_MEMBER TBM
        ON TBSR.MEMBER_ID = TBM.ID
        WHERE TBM.ID = #{id}
    </select>

    <select id="readRank" parameterType="Long" resultType="java.lang.Long">
        SELECT
        COUNT(SOM_CHECK_IS_CHECKED)
        FROM
        TBL_SOM_CHECK
        WHERE
        MEMBER_ID = #{memberId}
        AND SOM_CHECK_IS_CHECKED = 'Y'
    </select>

</mapper>
