<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.MyPageInfoMapper">



    <!-- 회원 + 프로필 정보 조회 -->
    <select id="selectMemberInfo" parameterType="Long" resultType="com.app.bluecotton.domain.dto.MyPageInfoDTO">
        SELECT
        TM.ID                        AS id,
        TM.MEMBER_NAME               AS memberName,
        TM.MEMBER_NICKNAME           AS memberNickname,
        TM.MEMBER_EMAIL              AS memberEmail,
        TM.MEMBER_PASSWORD           AS memberPassword,
        TM.MEMBER_ADDRESS            AS memberAddress,
        TM.MEMBER_DETAIL_ADDRESS     AS memberDetailAddress,
        TM.MEMBER_POSTCODE           AS memberPostcode,
        TM.MEMBER_GENDER             AS memberGender,
        TM.MEMBER_BIRTH              AS memberBirth,
        TM.MEMBER_CANDY              AS memberCandy,
        TM.MEMBER_RANK               AS memberRank,
        TM.MEMBER_PROVIDER           AS memberProvider,
        TM.MEMBER_PHONE              AS memberPhone,

        TMP.ID                       AS memberPictureId,
        TMP.MEMBER_PROFILE_PATH      AS memberPicturePath,
        TMP.MEMBER_PROFILE_NAME      AS memberPictureName
        FROM TBL_MEMBER TM
        LEFT JOIN TBL_MEMBER_PROFILE TMP
        ON TM.ID = TMP.MEMBER_ID
        WHERE TM.ID = #{id}
    </select>

    <!-- ① 회원정보 수정 -->
    <update id="updateMemberInfo" parameterType="com.app.bluecotton.domain.dto.MyPageInfoDTO">
        UPDATE TBL_MEMBER
        <set>
            <if test="memberName != null">         MEMBER_NAME = #{memberName},         </if>
            <if test="memberNickname != null">     MEMBER_NICKNAME = #{memberNickname}, </if>
            <if test="memberEmail != null">        MEMBER_EMAIL = #{memberEmail},       </if>
            <if test="memberPassword != null">     MEMBER_PASSWORD = #{memberPassword}, </if>
            <if test="memberAddress != null">      MEMBER_ADDRESS = #{memberAddress},   </if>
            <if test="memberDetailAddress != null">MEMBER_DETAIL_ADDRESS = #{memberDetailAddress},   </if>
            <if test="memberPostcode != null">     MEMBER_POSTCODE = #{memberPostcode}, </if>
            <if test="memberGender != null">       MEMBER_GENDER = #{memberGender},     </if>
            <if test="memberBirth != null">        MEMBER_BIRTH = #{memberBirth, jdbcType=DATE}, </if>
            <if test="memberPhone != null">        MEMBER_PHONE = #{memberPhone}        </if>
        </set>
        WHERE ID = #{id}
    </update>

    <!-- ② 회원 프로필 수정 -->
    <update id="updateMemberProfile" parameterType="com.app.bluecotton.domain.dto.MyPageInfoDTO">
        UPDATE TBL_MEMBER_PROFILE
        <set>
            <if test="memberPicturePath != null"> MEMBER_PROFILE_PATH = #{memberPicturePath}, </if>
            <if test="memberPictureName != null"> MEMBER_PROFILE_NAME = #{memberPictureName}  </if>
        </set>
        WHERE MEMBER_ID = #{id}
    </update>

</mapper>
