<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.MyPagePostMapper">

    <!--마이페이지 내가 쓴 글-->
    <select id="readPostWrite" parameterType="Long" resultType="com.app.bluecotton.domain.dto.MyPagePostWriteDTO">
        SELECT TBM.ID, TBP.POST_TITLE, TBP.POST_CREATE_AT, TBS.SOM_CATEGORY
        FROM TBL_POST TBP
        JOIN TBL_SOM TBS
        ON TBP.SOM_ID = TBS.ID
        JOIN TBL_MEMBER TBM
        ON TBP.MEMBER_ID = TBM.ID
        WHERE TBM.ID = #{id}
    </select>

    <!--마이페이지 내가 좋아요한 글-->
    <select id="readPostLike" parameterType="Long" resultType="com.app.bluecotton.domain.dto.MyPagePostLikeDTO">
        SELECT TBP.ID, TBP.POST_CREATE_AT, TBP.POST_TITLE, TBS.SOM_CATEGORY
        FROM TBL_POST_LIKE TPL
        JOIN TBL_POST TBP
        ON TPL.POST_ID = TBP.ID
        JOIN TBL_SOM TBS
        ON TBP.SOM_ID = TBS.ID
        JOIN TBL_MEMBER TBM
        ON TBP.MEMBER_ID = TBM.ID
        WHERE TBM.ID = #{id}
    </select>

    <!-- 내가 작성한 글 삭제 -->
    <delete id="deletePostWrite" parameterType="Long">
        DELETE FROM TBL_POST
        WHERE ID = #{id}
    </delete>

    <!-- 내가 좋아요한 글 삭제 -->
    <delete id="deletePostLike" parameterType="Long">
        DELETE FROM TBL_POST_LIKE
        WHERE ID = #{id}
    </delete>

    <!-- 내가 임시저장한 글 삭제 -->
    <delete id="deletePostSave" parameterType="Long">
        DELETE FROM TBL_POST_DRAFT
        WHERE ID = #{id}
    </delete>

    <!-- 내가 최근에 본 글 삭제 -->
    <delete id="deletePostRecent" parameterType="Long">
        DELETE FROM TBL_POST_RECENT
        WHERE ID = #{id}
    </delete>

</mapper>
