<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.PaymentMapper">

    <insert id="insert" parameterType="com.app.bluecotton.domain.vo.shop.PaymentVO">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_PAYMENT.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TBL_PAYMENT (
        ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS,
        PAYMENT_CREATE_AT, ORDER_ID, MERCHANT_UID, MEMBER_ID
        ) VALUES (
        SEQ_PAYMENT.NEXTVAL, #{paymentPrice},
        #{paymentType},
        #{paymentStatus},
        SYSTIMESTAMP,
        #{orderId},
        #{merchantUid},
        #{memberId}
        )
    </insert>

    <select id="selectMemberCandy" parameterType="long" resultType="int">
        SELECT MEMBER_CANDY
        FROM TBL_MEMBER
        WHERE ID = #{memberId}
    </select>
    
    <select id="selectByMemberIdCandy" parameterType="Long" resultType="map">
        SELECT TBP.*, TBO.total_price
        FROM   TBL_PAYMENT TBP
        JOIN   TBL_ORDER TBO ON TBO.id = TBP.order_id
        WHERE  TBP.member_id = #{memberId}
        ORDER BY TBP.PAYMENT_CREATE_AT DESC;
    </select>

    <select id="selectTotalCandySpentByMemberId" parameterType="long" resultType="int">
    SELECT NVL(SUM(TBP.PAYMENT_PRICE), 0)
    FROM   TBL_PAYMENT TBP
    WHERE  TBP.MEMBER_ID = #{memberId}
    AND  TBP.PAYMENT_TYPE = 'CANDY'
    AND  TBP.PAYMENT_STATUS = 'COMPLETED'
</select>


    <update id="updateMemberCandy">
        UPDATE TBL_MEMBER
        SET MEMBER_CANDY = MEMBER_CANDY - #{amount}
        WHERE ID = #{memberId}
    </update>

    <select id="selectByMerchantUid" parameterType="string" resultType="PaymentVO">
        SELECT ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS,
        PAYMENT_CREATE_AT, ORDER_ID, MERCHANT_UID, IMP_UID, PAID_AMOUNT
        FROM TBL_PAYMENT
        WHERE MERCHANT_UID = #{merchantUid}
    </select>

    <select id="selectExpectedAmountByMerchantUid" parameterType="string" resultType="long">
        SELECT PAYMENT_PRICE
        FROM TBL_PAYMENT
        WHERE MERCHANT_UID = #{merchantUid}
    </select>

    <select id="selectCompletedOrdersByMemberId"
            parameterType="long"
            resultType="com.app.bluecotton.domain.dto.MyShopOrderDTO">

        SELECT
        o.ID                      AS orderId,
        o.PRODUCT_ID              AS productId,
        p.PRODUCT_NAME            AS productName,

        (SELECT pi.PRODUCT_IMAGE_PATH || pi.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE pi
        WHERE pi.PRODUCT_ID = p.ID
        AND pi.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS productMainImageUrl,


        o.ORDER_CREATE_AT         AS orderCreateAt,
        pay.PAYMENT_STATUS        AS paymentStatus,
        o.ORDER_STATUS            AS orderStatus
        FROM TBL_ORDER o
        JOIN TBL_PRODUCT p
        ON p.ID = o.PRODUCT_ID
        JOIN TBL_PAYMENT pay
        ON pay.ORDER_ID = o.ID
        WHERE o.MEMBER_ID = #{memberId}
        AND pay.PAYMENT_STATUS = 'COMPLETED'
        ORDER BY o.ID DESC
    </select>


    <update id="updateStatusByMerchantUid">
        UPDATE TBL_PAYMENT
        SET PAYMENT_STATUS = #{status}
        WHERE MERCHANT_UID = #{merchantUid}
    </update>

    <update id="markSuccessByMerchantUid">
        UPDATE TBL_PAYMENT
        SET IMP_UID = #{impUid},
        PAID_AMOUNT = #{paidAmount},
        PAYMENT_STATUS = #{status}
        WHERE MERCHANT_UID = #{merchantUid}
    </update>


    <select id="selectById" parameterType="Long" resultType="PaymentVO">
        SELECT ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS, PAYMENT_CREATE_AT, ORDER_ID
        FROM TBL_PAYMENT
        WHERE ID = #{id}
    </select>


    <select id="selectByOrderId" parameterType="Long" resultType="PaymentVO">
        SELECT ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS, PAYMENT_CREATE_AT, ORDER_ID
        FROM TBL_PAYMENT
        WHERE ORDER_ID = #{orderId}
        ORDER BY ID DESC
    </select>

    <update id="updateStatus" parameterType="PaymentVO">
        UPDATE TBL_PAYMENT
        SET PAYMENT_STATUS = #{paymentStatus}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_PAYMENT
        WHERE ID = #{id}
    </delete>
</mapper>