<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.PaymentMapper">

    <insert id="insert" parameterType="com.app.bluecotton.domain.vo.shop.PaymentVO">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_PAYMENT.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TBL_PAYMENT (
        ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS,
        PAYMENT_CREATE_AT, ORDER_ID, MERCHANT_UID
        ) VALUES (
        SEQ_PAYMENT.NEXTVAL, #{paymentPrice},
        #{paymentType},
        #{paymentStatus},
        SYSTIMESTAMP,
        #{orderId},
        #{merchantUid}
        )
    </insert>

    <select id="selectByMerchantUid" parameterType="string" resultType="PaymentVO">
        SELECT ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS,
        PAYMENT_CREATE_AT, ORDER_ID, MERCHANT_UID, IMP_UID, PAID_AMOUNT
        FROM TBL_PAYMENT
        WHERE MERCHANT_UID = #{merchantUid}
    </select>

    <select id="selectExpectedAmountByMerchantUid" parameterType="string" resultType="long">
        SELECT PAYMENT_PRICE
        FROM TBL_PAYMENT
        WHERE MERCHANT_UID = #{merchantUid}
    </select>

    <update id="updateStatusByMerchantUid">
        UPDATE TBL_PAYMENT
        SET PAYMENT_STATUS = #{status}
        WHERE MERCHANT_UID = #{merchantUid}
    </update>

    <update id="markSuccessByMerchantUid">
        UPDATE TBL_PAYMENT
        SET IMP_UID = #{impUid},
        PAID_AMOUNT = #{paidAmount},
        PAYMENT_STATUS = #{status}
        WHERE MERCHANT_UID = #{merchantUid}
    </update>


    <select id="selectById" parameterType="Long" resultType="PaymentVO">
        SELECT ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS, PAYMENT_CREATE_AT, ORDER_ID
        FROM TBL_PAYMENT
        WHERE ID = #{id}
    </select>


    <select id="selectByOrderId" parameterType="Long" resultType="PaymentVO">
        SELECT ID, PAYMENT_PRICE, PAYMENT_TYPE, PAYMENT_STATUS, PAYMENT_CREATE_AT, ORDER_ID
        FROM TBL_PAYMENT
        WHERE ORDER_ID = #{orderId}
        ORDER BY ID DESC
    </select>

    <update id="updateStatus" parameterType="PaymentVO">
        UPDATE TBL_PAYMENT
        SET PAYMENT_STATUS = #{paymentStatus}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_PAYMENT
        WHERE ID = #{id}
    </delete>
</mapper>