<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.ShopMapper">

<!-- 샵 메인 페이지 필터별 상품 조회  -->
    <select id="selectProductsByFilter" resultType="com.app.bluecotton.domain.dto.ProductListResponseDTO" parameterType="Map">
        SELECT
        TBP.ID,TBP.PRODUCT_NAME,TBP.PRODUCT_PRICE,TBP.PRODUCT_TYPE, TBP.PRODUCT_PURCHASE_TYPE,
        <!--  리뷰 별점 평균-->
        (SELECT ROUND(AVG(TBPR.PRODUCT_REVIEW_RATING), 1)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_AVG_RATING,

        <!--   리뷰 총합 -->
        (SELECT COUNT(TBPR.ID)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_REVIEW_COUNT,

        <!--    찜 하기 총 개수-->
        (SELECT COUNT(TBPL.PRODUCT_ID)
        FROM TBL_PRODUCT_LIKE TBPL
        WHERE TBPL.PRODUCT_ID = TBP.ID) AS PRODUCT_LIKE_COUNT,

        <!--   이미지 경로 + 이미지 이름-->
        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND ROWNUM = 1 AND PRODUCT_IMAGE_TYPE = 'MAIN') AS PRODUCT_IMAGE_URL,

        (CASE
            WHEN #{memberId} IS NULL THEN 0
            ELSE (
            SELECT COUNT(*)
            FROM TBL_PRODUCT_LIKE TBPL
            WHERE TBPL.PRODUCT_ID = TBP.ID
            AND TBPL.MEMBER_ID = #{memberId}
            ) END) AS IS_LIKED

        FROM TBL_PRODUCT TBP
        <where>
            <!-- 상품 검색 -->
            <if test="q != null and q != ''">
                AND (TBP.PRODUCT_NAME LIKE '%' || #{q} || '%')
            </if>
            <!-- 카테고리: 다중 선택 OR 그룹 -->
            <if test="selection != 'all'">
                <trim prefix="(" suffix=")" suffixOverrides="OR">
                    <if test="clothing   != null"> PRODUCT_CATEGORY = #{clothing}   OR </if>
                    <if test="keyring    != null"> PRODUCT_CATEGORY = #{keyring}    OR </if>
                    <if test="bag        != null"> PRODUCT_CATEGORY = #{bag}        OR </if>
                    <if test="stationery != null"> PRODUCT_CATEGORY = #{stationery} OR </if>
                    <if test="living     != null"> PRODUCT_CATEGORY = #{living}     OR </if>
                    <if test="doll       != null"> PRODUCT_CATEGORY = #{doll}       OR </if>
                    <if test="digital    != null"> PRODUCT_CATEGORY = #{digital}    OR </if>
                    <if test="travel     != null"> PRODUCT_CATEGORY = #{travel}     OR </if>
                </trim>
            </if>


            <trim prefix="AND (" suffix=")" suffixOverrides="OR">
                <if test="newType != null"> PRODUCT_TYPE = #{newType} OR </if>
                <if test="best    != null"> PRODUCT_TYPE = #{best}    OR </if>
            </trim>

            <trim prefix="AND (" suffix=")" suffixOverrides="OR">
                <if test="candy != null"> PRODUCT_PURCHASE_TYPE = #{candy} OR </if>
                <if test="cash  != null"> PRODUCT_PURCHASE_TYPE = #{cash}  OR </if>
            </trim>
        </where>

        ORDER BY
        <choose>
            <when test="order == '신상품순'">
                TBP.ID DESC
            </when>
            <when test="order == '높은 가격 순'">
                TBP.PRODUCT_PRICE DESC
            </when>
            <when test="order == '낮은 가격 순'">
                TBP.PRODUCT_PRICE ASC
            </when>
            <when test="order == '리뷰 많은 순'">
                (
                SELECT COUNT(*)
                FROM TBL_PRODUCT_REVIEW TBPR
                WHERE TBPR.PRODUCT_ID = TBP.ID
                ) DESC
            </when>
            <when test="order == '판매순'">
                (
                SELECT COUNT(*)
                FROM TBL_ORDER TBO
                WHERE TBO.PRODUCT_ID = TBP.ID
                ) DESC
            </when>
        </choose>
    </select>
    
<!-- 샵 메인 페이지 찜하기 추가 -->
    <insert id="insertMyLikedProduct">
        INSERT INTO TBL_PRODUCT_LIKE (ID, MEMBER_ID, PRODUCT_ID)
        VALUES (SEQ_PRODUCT_LIKE.NEXTVAL, #{memberId}, #{productId})
    </insert>

<!--  샵 메인 페이지 찜하기 삭제  -->
    <delete id="deleteMyLikedProduct" >
        DELETE FROM TBL_PRODUCT_LIKE
        WHERE MEMBER_ID = #{memberId} AND PRODUCT_ID = #{productId}
    </delete>

    <select id="selectLikeCount" resultType="Integer">
        SELECT COUNT(*)
        FROM TBL_PRODUCT_LIKE
        WHERE MEMBER_ID = #{memberId} AND PRODUCT_ID = #{productId}
    </select>

    <!--  상품 상세 페이지 상단 조회 -->
    <select id="selectProductDetailHeader" parameterType="map" resultType="com.app.bluecotton.domain.dto.ProductDetailResponseDTO">
        SELECT
        TBP.ID,
        TBP.PRODUCT_NAME,
        TBP.PRODUCT_PRICE,
        TBP.PRODUCT_TYPE,
        TBP.PRODUCT_PURCHASE_TYPE,

        (SELECT ROUND(AVG(TBPR.PRODUCT_REVIEW_RATING), 1)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_AVG_RATING,

        (SELECT COUNT(*)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_REVIEW_COUNT,

        (SELECT COUNT(*)
        FROM TBL_PRODUCT_LIKE TBPL
        WHERE TBPL.PRODUCT_ID = TBP.ID) AS PRODUCT_LIKE_COUNT,

        (CASE
        WHEN #{memberId} IS NULL THEN 0
        ELSE (
        SELECT COUNT(*)
        FROM TBL_PRODUCT_LIKE TBPL_MY
        WHERE TBPL_MY.PRODUCT_ID = TBP.ID
        AND TBPL_MY.MEMBER_ID = #{memberId}
        ) END) AS PRODUCT_IS_LIKED,

        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS PRODUCT_MAIN_IMAGE_URL,


        (SELECT LISTAGG(TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME, ',')
        WITHIN GROUP (ORDER BY TBPI.ID)
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'SUB') AS PRODUCT_SUB_IMAGE_URL

        FROM TBL_PRODUCT TBP
        WHERE TBP.ID = #{id}
    </select>


    <!-- 상품 상세 페이지 찜하기 -->
    <select id="selectProductDetailHeaderLike" parameterType="map" resultType="com.app.bluecotton.domain.dto.ProductDetailResponseDTO">
        SELECT
        TBP.ID,
        (SELECT COUNT(*)
        FROM TBL_PRODUCT_LIKE TBPL
        WHERE TBPL.PRODUCT_ID = TBP.ID) AS PRODUCT_LIKE_COUNT ,
        CASE
        WHEN TBPL.ID IS NOT NULL THEN 1
        ELSE 0
        END AS PRODUCT_IS_LIKED
        FROM TBL_PRODUCT TBP
        LEFT JOIN TBL_PRODUCT_LIKE TBPL
        ON TBP.ID = TBPL.PRODUCT_ID
        AND TBPL.MEMBER_ID = #{memberId}
        WHERE TBP.ID = #{productId}
    </select>


    <!--  상품 상세 페이지 "정보" 조회 -->
    <select id="selectProductDetailInfo" parameterType="Long" resultType="com.app.bluecotton.domain.dto.ProductInfoDetailResponseDTO">
        SELECT
        TBP.PRODUCT_NAME,
        TBP.PRODUCT_MAIN_DESCRIPTION,
        TBP.PRODUCT_SUB_DESCRIPTION,
        TBP.PRODUCT_WEIGHT,
        TBP.PRODUCT_SIZE,
        TBP.PRODUCT_MATERIAL,

        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS PRODUCT_MAIN_IMAGE_URL,

        (SELECT LISTAGG(TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME, ',')
        WITHIN GROUP (ORDER BY TBPI.ID)
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'SUB') AS PRODUCT_SUB_IMAGE_URL

        FROM TBL_PRODUCT TBP
        WHERE TBP.ID = #{id}
    </select>

    <!--  상품 상세 페이지 "상품 리뷰" -->
    <select id="selectProductReviewDetail" parameterType="map" resultType="com.app.bluecotton.domain.dto.ProductReviewDetailResponseDTO">
        SELECT
        TBPR.ID,
        TBPR.PRODUCT_REVIEW_RATING,
        TBPR.PRODUCT_REVIEW_CONTENT,
        TO_CHAR(TBPR.PRODUCT_REVIEW_CREATE_AT, 'YYYY.MM.DD') AS PRODUCT_REVIEW_DATE ,

        (SELECT TBM.MEMBER_NICKNAME
        FROM TBL_MEMBER TBM
        WHERE TBM.ID = TBPR.MEMBER_ID) AS USER_NICK_NAME,

        (SELECT LISTAGG(TBPRI.PRODUCT_REVIEW_IMAGE_PATH || TBPRI.PRODUCT_REVIEW_IMAGE_NAME, '|')
        WITHIN GROUP (ORDER BY TBPRI.ID)
        FROM TBL_PRODUCT_REVIEW_IMAGE TBPRI
        WHERE TBPRI.PRODUCT_REVIEW_ID = TBPR.ID
        ) AS PRODUCT_REVIEW_IMAGE_URLS,

        (SELECT MEMBER_PROFILE_PATH || MEMBER_PROFILE_NAME
        FROM TBL_MEMBER_PROFILE TBMP
        WHERE TBMP.MEMBER_ID = TBPR.MEMBER_ID
        ) AS MEMBER_PROFILE_URL

        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = #{id}

        <if test="type == 'photo'">
            AND EXISTS (
            SELECT 1
            FROM TBL_PRODUCT_REVIEW_IMAGE TBPRI
            WHERE TBPRI.PRODUCT_REVIEW_ID = TBPR.ID
            )
        </if>

        ORDER BY
        <choose>
            <when test="sort == 'ratingHigh'">
                TBPR.PRODUCT_REVIEW_RATING DESC, TBPR.ID DESC
            </when>
            <when test="sort == 'ratingLow'">
                TBPR.PRODUCT_REVIEW_RATING ASC, TBPR.ID DESC
            </when>
            <otherwise>
                TBPR.ID DESC
            </otherwise>
        </choose>
    </select>

    <!--  샵 상세 페이지 "리뷰 평점" -->
    <select id="selectProductReviewStats" parameterType="Long" resultType="com.app.bluecotton.domain.dto.ProductReviewStatsResponseDTO">

        SELECT
        NVL(ROUND(AVG(PRODUCT_REVIEW_RATING), 1), 0.0) AS AVG_SCORE,
        COUNT(*) AS TOTAL_COUNT,
        COUNT(CASE WHEN PRODUCT_REVIEW_RATING = 5 THEN 1 END) AS COUNT5,
        COUNT(CASE WHEN PRODUCT_REVIEW_RATING = 4 THEN 1 END) AS COUNT4,
        COUNT(CASE WHEN PRODUCT_REVIEW_RATING = 3 THEN 1 END) AS COUNT3,
        COUNT(CASE WHEN PRODUCT_REVIEW_RATING = 2 THEN 1 END) AS COUNT2,
        COUNT(CASE WHEN PRODUCT_REVIEW_RATING = 1 THEN 1 END) AS COUNT1
        FROM TBL_PRODUCT_REVIEW
        WHERE PRODUCT_ID = #{id}
    </select>

    <!--  마이페이지 찜한 상품 조회  -->
    <select id="selectMyLikedProducts" parameterType="Long" resultType="com.app.bluecotton.domain.dto.ProductListResponseDTO">
        SELECT
        TBP.ID,
        TBP.PRODUCT_NAME,
        TBP.PRODUCT_PRICE,
        TBP.PRODUCT_TYPE,
        TBP.PRODUCT_PURCHASE_TYPE,

        (SELECT NVL(ROUND(AVG(TBPR.PRODUCT_REVIEW_RATING), 1), 0.0)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_AVG_RATING,

        (SELECT COUNT(TBPR.ID)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_REVIEW_COUNT,

        (SELECT COUNT(TBPL.ID)
        FROM TBL_PRODUCT_LIKE TBPL
        WHERE TBPL.PRODUCT_ID = TBP.ID) AS PRODUCT_LIKE_COUNT,

        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS PRODUCT_IMAGE_URL

        FROM
        TBL_PRODUCT TBP

        WHERE
        TBP.ID IN (
        SELECT TBPL.PRODUCT_ID
        FROM TBL_PRODUCT_LIKE TBPL
        WHERE TBPL.MEMBER_ID = #{memberId})

        ORDER BY
        TBP.ID DESC
    </select>


    <!--  마이페이지 마이리뷰 조회 -->
    <select id="selectMyReview" parameterType="Long" resultType="com.app.bluecotton.domain.dto.MyReviewListDTO">
        SELECT TBPR.ID,
        TBPR.PRODUCT_ID,
        TBP.PRODUCT_NAME AS PRODUCT_NAME,
        TO_CHAR(TBPR.PRODUCT_REVIEW_CREATE_AT, 'YYYY.MM.DD') AS PRODUCT_REVIEW_DATE,
        TBPR.PRODUCT_REVIEW_CONTENT,
        TBPR.PRODUCT_REVIEW_RATING,
        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS PRODUCT_IMAGE_URL
        FROM TBL_PRODUCT_REVIEW TBPR
        JOIN TBL_PRODUCT TBP
        ON TBPR.PRODUCT_ID = TBP.ID
        WHERE TBPR.MEMBER_ID = #{memberId}
        ORDER BY
        TBPR.ID DESC
    </select>

    <!--   마이페이지 마이리뷰 수정 -->
    <update id="updateMyReview" parameterType="map">
        UPDATE TBL_PRODUCT_REVIEW
        SET PRODUCT_REVIEW_RATING  = #{rating},
        PRODUCT_REVIEW_CONTENT = #{content}
        WHERE ID = #{reviewId}
        AND MEMBER_ID = #{memberId}
    </update>
    
    <!--  마이페이지 마이리뷰 삭제  -->
    <delete id="deleteMyReview" parameterType="Long">
        DELETE FROM TBL_PRODUCT_REVIEW
        WHERE ID = #{id}
    </delete>


    <!-- 마이리뷰 : 기존 리뷰 이미지 전부 삭제 -->
    <delete id="deleteMyReviewImage" parameterType="long">
        DELETE FROM TBL_PRODUCT_REVIEW_IMAGE
        WHERE PRODUCT_REVIEW_ID = #{reviewId}
    </delete>

    <!-- 마이리뷰 : 수정 시 새 이미지 1장 등록 -->
    <insert id="insertMyReviewImageOnUpdate" parameterType="map">
        INSERT INTO TBL_PRODUCT_REVIEW_IMAGE
        (ID, PRODUCT_REVIEW_IMAGE_PATH, PRODUCT_REVIEW_IMAGE_NAME, PRODUCT_REVIEW_ID)
        VALUES
        (SEQ_PRODUCT_REVIEW_IMAGE.NEXTVAL, #{imagePath}, #{imageName}, #{reviewId})
    </insert>

    <!-- 마이페이지 구매내역 전체조회 -->
    <select id="selectPurchaseList" parameterType="Long" resultType="com.app.bluecotton.domain.dto.MyPageOrderListDTO">
        SELECT
        TBO.ID AS ORDER_ID,
        TBO.PRODUCT_ID,
        TBP.PRODUCT_NAME AS PRODUCT_NAME,
        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1)  AS PRODUCT_MAIN_IMAGE_URL,
        TBO.ORDER_CREATE_AT,
        TP.PAYMENT_STATUS
        FROM TBL_ORDER TBO
        JOIN TBL_PRODUCT TBP
        ON TBP.ID = TBO.PRODUCT_ID
        JOIN TBL_PAYMENT TP
        ON TP.ORDER_ID = TBO.ID
        WHERE TBO.MEMBER_ID = #{memberId}
        AND TP.PAYMENT_STATUS = 'COMPLETED'
        ORDER BY TBO.ORDER_CREATE_AT DESC
    </select>


    <!--  마이페이지 구매내역 리뷰하기 작성-->
        <!--  리뷰 모달 조회  -->
    <select id="selectReviewModal" parameterType="Long" resultType="map">
        SELECT TBP.PRODUCT_NAME,
        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBP.ID = TBPI.PRODUCT_ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1
        ) AS PRODUCT_MAIN_IMAGE_URL
        FROM TBL_PRODUCT TBP
        WHERE TBP.ID = #{productId}
    </select>

    <!-- 리뷰 내용 추가 -->
    <insert id="insertMyReview" parameterType="com.app.bluecotton.domain.dto.MyPageReviewWriteDTO">
        <selectKey keyProperty="reviewId" resultType="long" order="BEFORE">
            SELECT SEQ_PRODUCT_REVIEW.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_PRODUCT_REVIEW
        (ID, PRODUCT_ID, MEMBER_ID, PRODUCT_REVIEW_RATING, PRODUCT_REVIEW_CONTENT, PRODUCT_REVIEW_CREATE_AT)
        VALUES
        (#{reviewId}, #{productId}, #{memberId}, #{rating}, #{content}, SYSTIMESTAMP)
    </insert>

    <!-- 리뷰 이미지 추가 -->
    <insert id="insertMyReviewImage" parameterType="com.app.bluecotton.domain.dto.MyPageReviewWriteDTO">
        INSERT INTO TBL_PRODUCT_REVIEW_IMAGE
        (ID, PRODUCT_REVIEW_IMAGE_PATH, PRODUCT_REVIEW_IMAGE_NAME, PRODUCT_REVIEW_ID)
        VALUES
        (SEQ_PRODUCT_REVIEW_IMAGE.NEXTVAL, #{imagePath}, #{imageName}, #{reviewId})
    </insert>

    <!-- 마이페이지 배송현황 전체조회 -->
    <select id="selectMyDeliveryList" parameterType="Long" resultType="com.app.bluecotton.domain.dto.MyPageDeliveryListDTO">
        SELECT
        TP.ID  AS PAYMENT_ID,
        TBO.ID AS ORDER_ID,
        TBD.ID AS DELIVERY_ID, TBP.ID AS PRODUCT_ID,
        TBP.PRODUCT_NAME AS PRODUCT_NAME,
        TO_CHAR(TBO.ORDER_CREATE_AT, 'YYYY-MM-DD') AS ORDER_CREATE_AT,

        NVL(TBD.DELIVERY_STATUS, 'PAID') AS DELIVERY_STATUS,

        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS PRODUCT_MAIN_IMAGE_URL
        FROM TBL_ORDER TBO
        JOIN TBL_PAYMENT TP
        ON TP.ORDER_ID = TBO.ID
        AND TP.MEMBER_ID = TBO.MEMBER_ID
        JOIN TBL_PRODUCT TBP
        ON TBP.ID = TBO.PRODUCT_ID

        LEFT JOIN TBL_DELIVERY TBD
        ON TBP.ID = TBD.PRODUCT_ID
        AND TBO.MEMBER_ID = TBD.MEMBER_ID

        WHERE TBO.MEMBER_ID = #{memberId}
        AND TP.PAYMENT_STATUS = 'COMPLETED'
        ORDER BY TBO.ORDER_CREATE_AT DESC
    </select>

    <!-- 마이페이지 배송현황 구매취소 -->
    <delete id="deleteMyDeliveryProduct" parameterType="Long">
        DELETE FROM TBL_ORDER
        WHERE ID = #{id}
    </delete>

    <!--  마이페이지 배송현황 ORDER_ID 삭제 -->
    <delete id="deletePaymentByOrderId" parameterType="Long">
        DELETE FROM TBL_PAYMENT
        WHERE ORDER_ID = #{id}
    </delete>

    <!--  마이페이지 배송현황 PAYMENT_ID 삭제 -->
    <delete id="deletePaymentSocialByPaymentId" parameterType="Long">
        DELETE FROM TBL_PAYMENT_SOCIAL
        WHERE PAYMENT_ID IN (
        SELECT ID
        FROM TBL_PAYMENT
        WHERE ORDER_ID = #{id}
        )
    </delete>

    <!-- 리뷰하기 유효성 검사  -->
    <select id="existProductReview" parameterType="map" resultType="int">
        SELECT
        CASE
        WHEN EXISTS (
        SELECT
        ID
        FROM TBL_PRODUCT_REVIEW
        WHERE
        PRODUCT_ID = #{productId}
        AND
        MEMBER_ID = #{memberId}
        )
        THEN 1
        ELSE 0
        END
        FROM DUAL
    </select>

    <!-- 리뷰 댓글 신고-->
    <insert id="productReviewReport" parameterType="com.app.bluecotton.domain.vo.shop.ProductReviewReportVO">
        INSERT INTO TBL_PRODUCT_REVIEW_REPORT
        VALUES (SEQ_PRODUCT_REVIEW_REPORT.NEXTVAL , #{productReviewReportContent}, SYSTIMESTAMP,  #{memberId}, #{productReviewId})
    </insert>

    <!-- 리뷰 댓글 신고 중복 체크 -->
    <select id="checkProductReviewReportExists" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM TBL_PRODUCT_REVIEW_REPORT
        WHERE PRODUCT_REVIEW_ID = #{productReviewId}
        AND MEMBER_ID = #{memberId}
    </select>



    <!-- 리뷰 댓글 도움돼요 상태 여부 조회 -->
    <select id="selectProductReviewRecommend" parameterType="map" resultType="com.app.bluecotton.domain.dto.ProductReviewRecommendDTO">
        SELECT
        TBPR.ID,
        (SELECT COUNT(*)
        FROM TBL_PRODUCT_REVIEW_RECOMMEND TPRR_ALL
        WHERE TPRR_ALL.PRODUCT_REVIEW_ID = TBPR.ID
        ) AS PRODUCT_REVIEW_RECOMMEND_COUNT,
        CASE
        WHEN TPRR.ID IS NOT NULL THEN 1
        ELSE 0
        END AS IS_RECOMMENDED
        FROM TBL_PRODUCT_REVIEW TBPR
        LEFT JOIN TBL_PRODUCT_REVIEW_RECOMMEND TPRR
        ON TBPR.ID = TPRR.PRODUCT_REVIEW_ID
        AND TPRR.MEMBER_ID = #{memberId}
        WHERE TBPR.ID = #{reviewId}
    </select>





</mapper>



