<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.ShopMapper">

    <select id="selectProductsByFilter" resultType="com.app.bluecotton.domain.dto.ProductListResponseDTO" parameterType="Map">
        SELECT
        TBP.ID,TBP.PRODUCT_NAME,TBP.PRODUCT_PRICE,TBP.PRODUCT_TYPE, TBP.PRODUCT_PURCHASE_TYPE,
<!--  리뷰 별점 평균-->
        (SELECT ROUND(AVG(TBPR.PRODUCT_REVIEW_RATING), 1)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_AVG_RATING,

<!--    리뷰 총합-->
        (SELECT COUNT(TBPR.ID)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_REVIEW_COUNT,

<!--        찜 하기 총 개수-->
        (SELECT COUNT(TBPL.PRODUCT_ID)
        FROM TBL_PRODUCT_LIKE TBPL
        WHERE TBPL.PRODUCT_ID = TBP.ID) AS PRODUCT_LIKE_COUNT,

<!--        이미지 경로 + 이미지 이름-->
        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND ROWNUM = 1) AS PRODUCT_IMAGE_URL

        FROM TBL_PRODUCT TBP
        <where>
            <!-- 카테고리: 다중 선택 OR 그룹 -->
            <if test="selection != 'all'">
                <trim prefix="(" suffix=")" suffixOverrides="OR">
                    <if test="clothing   != null"> PRODUCT_CATEGORY = #{clothing}   OR </if>
                    <if test="keyring    != null"> PRODUCT_CATEGORY = #{keyring}    OR </if>
                    <if test="bag        != null"> PRODUCT_CATEGORY = #{bag}        OR </if>
                    <if test="stationery != null"> PRODUCT_CATEGORY = #{stationery} OR </if>
                    <if test="living     != null"> PRODUCT_CATEGORY = #{living}     OR </if>
                    <if test="doll       != null"> PRODUCT_CATEGORY = #{doll}       OR </if>
                    <if test="digital    != null"> PRODUCT_CATEGORY = #{digital}    OR </if>
                    <if test="travel     != null"> PRODUCT_CATEGORY = #{travel}     OR </if>
                </trim>
            </if>


            <trim prefix="AND (" suffix=")" suffixOverrides="OR">
                <if test="newType != null"> PRODUCT_TYPE = #{newType} OR </if>
                <if test="best    != null"> PRODUCT_TYPE = #{best}    OR </if>
            </trim>

            <trim prefix="AND (" suffix=")" suffixOverrides="OR">
                <if test="candy != null"> PRODUCT_PURCHASE_TYPE = #{candy} OR </if>
                <if test="cash  != null"> PRODUCT_PURCHASE_TYPE = #{cash}  OR </if>
            </trim>
        </where>

        ORDER BY
        <choose>
            <when test="order == '신상품순'">
                TBP.ID DESC
            </when>
            <when test="order == '높은 가격 순'">
                TBP.PRODUCT_PRICE DESC
            </when>
            <when test="order == '낮은 가격 순'">
                TBP.PRODUCT_PRICE ASC
            </when>
            <when test="order == '리뷰 많은 순'">
                (
                SELECT COUNT(*)
                FROM TBL_PRODUCT_REVIEW TBPR
                WHERE TBPR.PRODUCT_ID = TBP.ID
                ) DESC
            </when>
            <when test="order == '판매순'">
                (
                SELECT COUNT(*)
                FROM TBL_ORDER TBO
                WHERE TBO.PRODUCT_ID = TBP.ID
                ) DESC
            </when>
        </choose>
    </select>
    
    <select id="selectProductDetailHeader" parameterType="Long" resultType="com.app.bluecotton.domain.dto.ProductDetailResponseDTO">
        SELECT
        TBP.ID,
        TBP.PRODUCT_NAME,
        TBP.PRODUCT_PRICE,
        TBP.PRODUCT_TYPE,
        TBP.PRODUCT_PURCHASE_TYPE,

        (SELECT ROUND(AVG(TBPR.PRODUCT_REVIEW_RATING), 1)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_AVG_RATING,

        (SELECT COUNT(*)
        FROM TBL_PRODUCT_REVIEW TBPR
        WHERE TBPR.PRODUCT_ID = TBP.ID) AS PRODUCT_REVIEW_COUNT,

        (SELECT COUNT(*)
        FROM TBL_PRODUCT_LIKE TBPL
        WHERE TBPL.PRODUCT_ID = TBP.ID) AS PRODUCT_LIKE_COUNT,


        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS PRODUCT_MAIN_IMAGE_URL,


        (SELECT LISTAGG(TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME, ',')
        WITHIN GROUP (ORDER BY TBPI.ID)
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'SUB') AS PRODUCT_SUB_IMAGE_URL

        FROM TBL_PRODUCT TBP
        WHERE TBP.ID = #{id}
    </select>
    
    <select id="selectProductDetailInfo" parameterType="Long" resultType="com.app.bluecotton.domain.dto.ProductInfoDetailResponseDTO">
        SELECT
        TBP.PRODUCT_NAME,
        TBP.PRODUCT_MAIN_DESCRIPTION,
        TBP.PRODUCT_SUB_DESCRIPTION,
        TBP.PRODUCT_WEIGHT,
        TBP.PRODUCT_SIZE,
        TBP.PRODUCT_MATERIAL,

        (SELECT TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'MAIN'
        AND ROWNUM = 1) AS PRODUCT_MAIN_IMAGE_URL,

        (SELECT LISTAGG(TBPI.PRODUCT_IMAGE_PATH || TBPI.PRODUCT_IMAGE_NAME, ',')
        WITHIN GROUP (ORDER BY TBPI.ID)
        FROM TBL_PRODUCT_IMAGE TBPI
        WHERE TBPI.PRODUCT_ID = TBP.ID
        AND TBPI.PRODUCT_IMAGE_TYPE = 'SUB') AS PRODUCT_SUB_IMAGE_URL

        FROM TBL_PRODUCT TBP
        WHERE TBP.ID = #{id}
    </select>


</mapper>