<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.SomMapper">
    <!--  솜 등록  -->
    <insert id="insert" parameterType="SomVO">
        INSERT INTO TBL_SOM(ID, SOM_TITLE, SOM_CATEGORY, SOM_ADDRESS, SOM_TYPE, SOM_START_DATE, SOM_END_DATE, SOM_CONTENT, MEMBER_ID)
        VALUES(SEQ_SOM.NEXTVAL, #{somTitle}, #{somCategory}, #{somAddress}, #{somType}, #{somStartDate}, #{somEndDate}, #{somContent}, #{memberId})
    </insert>
    <!--  솜 상세 조회  -->
    <select id="selectById" parameterType="Long" resultType="SomVO">
        SELECT ID, SOM_TITLE, SOM_CATEGORY, SOM_ADDRESS, SOM_TYPE, SOM_START_DATE, SOM_END_DATE, SOM_LIKE, SOM_CONTENT, MEMBER_ID
        FROM TBL_SOM
        WHERE ID = #{id}
    </select>
    <!--  솜 카테고리별 조회  -->
    <select id="selectSomByCategory" parameterType="String" resultType="SomVO">
        SELECT ID, SOM_TITLE, SOM_CATEGORY, SOM_ADDRESS, SOM_TYPE, SOM_START_DATE, SOM_END_DATE, SOM_LIKE, SOM_CONTENT, MEMBER_ID
        FROM TBL_SOM
        WHERE SOM_CATEGORY  = #{somCategory}
    </select>
    <!--  솜 타입별 조회  -->
    <select id="selectSomByType" parameterType="String" resultType="SomVO">
        SELECT ID, SOM_TITLE, SOM_CATEGORY, SOM_ADDRESS, SOM_TYPE, SOM_START_DATE, SOM_END_DATE, SOM_LIKE, SOM_CONTENT, MEMBER_ID
        FROM TBL_SOM
        WHERE SOM_TYPE  = #{somType}
    </select>
    <!--  솜 전체 조회  -->
    <select id="selectAll" resultType="SomVO">
        SELECT ID, SOM_TITLE, SOM_CATEGORY, SOM_ADDRESS, SOM_TYPE, SOM_START_DATE, SOM_END_DATE, SOM_LIKE, SOM_CONTENT, MEMBER_ID
        FROM TBL_SOM
    </select>
    <!--  솜 전체 주소 조회  -->
    <select id="selectAllAddress" resultType="String">
        SELECT SOM_ADDRESS
        FROM TBL_SOM
    </select>
    <!--  솜 좋아요  -->
    <update id="updateLike" parameterType="Long">
        UPDATE TBL_SOM
        SET SOM_LIKE = SOM_LIKE + 1
        WHERE ID = #{id}
    </update>
    <!--  솜 삭제  -->
    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_SOM
        WHERE ID = #{id}
    </delete>

    <!--  솜 인증 작성  -->
    <insert id="insertSomCheck" parameterType="SomCheckResponseDTO">
        INSERT INTO TBL_SOM_CHECK (
        ID,
        SOM_CHECK_IS_CHECKED,
        SOM_CHECK_CONTENT,
        MEMBER_ID,
        SOM_ID
        )
        VALUES (
        SEQ_SOM_CHECK.NEXTVAL,
        <!-- boolean → 'Y'/'N' 변환 -->
        <choose>
            <when test="somCheckIsChecked"> 'Y' </when>
            <otherwise> 'N' </otherwise>
        </choose>,
        #{somCheckContent},
        #{memberId},
        #{somId}
        )
    </insert>
    <!--  솜 인증 조회  -->
    <select id="selectSomCheckWithImages" parameterType="long" resultMap="SomCheckWithImagesMap">
        SELECT
        sc.ID AS sc_id,
        CASE sc.SOM_CHECK_IS_CHECKED WHEN 'Y' THEN 1 ELSE 0 END AS sc_is_checked,
        sc.SOM_CHECK_CONTENT AS sc_content,
        sc.MEMBER_ID AS sc_member_id,
        sc.SOM_ID AS sc_som_id,
        sci.ID AS sci_id,
        sci.SOM_CHECK_IMAGE_PATH AS sci_path,
        sci.SOM_CHECK_IMAGE_NAME AS sci_name,
        sci.SOM_CHECK_ID AS sci_check_id
        FROM TBL_SOM_CHECK sc
        LEFT JOIN TBL_SOM_CHECK_IMAGE sci ON sc.ID = sci.SOM_CHECK_ID
        WHERE sc.ID = #{id}
    </select>

    <resultMap id="SomCheckWithImagesMap" type="com.app.bluecotton.domain.dto.SomCheckResponseDTO">
        <id property="id" column="sc_id"/>
        <result property="somCheckIsChecked" column="sc_is_checked" javaType="boolean"/>
        <result property="somCheckContent" column="sc_content"/>
        <result property="memberId" column="sc_member_id"/>
        <result property="somId" column="sc_som_id"/>

        <collection property="somCheckImagePath" ofType="string" column="sci_path"/>
        <collection property="somCheckImageName" ofType="string" column="sci_name"/>
        <collection property="somCheckId" ofType="long" column="sci_check_id"/>
    </resultMap>

</mapper>

